############################
# Local configurations
############################
.env
Common/include/secrets.h
IntegrationTests/.integration_test_env


############################
# Drivers from StmCubeIDE
############################
/Drivers


############################
# Build output
############################
/Debug/
/Release/
/build/
/Build/
/out/

/UnitTests/build

############################
# Compiled binaries
############################
*.o
*.obj
*.elf
*.axf
*.map
*.hex
*.bin
*.lst
*.d
*.su

############################
# IDE files (STM32CubeIDE / Eclipse)
############################
.metadata/
.settings/
*.project
*.cproject
*.launch

############################
# VS Code
############################
.vscode/

############################
# CubeMX generated temp files
############################
*.mxproject
*.ioc~
*.bak

############################
# OS-specific
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log
